<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-boost="true">
<div id="main">
    <h1>A Demo Contacts Application</h1>
    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q"
               th:value="${q} ?: ''"
               hx-get="/contacts"
               hx-target="tbody"
               hx-push-url="true"
               hx-indicator="#spinner"
               hx-trigger="search, keyup delay:200ms changed"
        />
        <img id="search-spinner" class="htmx-indicator"
             src="/img/spinning-circles.svg"
             alt="Request In Flight..."/>
        <input type="submit" value="Search"/>
    </form>
    <hr>
    <form>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:replace="fragments/contacts :: rows"></tr>
            <tr>
                <td th:if="${contacts.size() == 10}" colspan="5" style="text-align: center">
                    <span hx-target="closest tr"
                          hx-trigger="revealed"
                          hx-swap="outerHTML"
                          hx-select="tbody > tr"
                          th:attr="hx-get=@{'/contacts?page=' + ${page + 1}}">
                        Loading More...
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <button hx-delete="/contacts"
                hx-confirm="Are you sure you want to delete these contacts?"
                hx-target="body">
            Delete Selected Contacts
        </button>
    </form>
    <p>
        <a th:href="@{'/contacts/new'}">Add Contact</a>
        <span hx-get="/contacts/count" hx-trigger="revealed">
            <img id="count-spinner" class="htmx-indicator" src="/img/spinning-circles.svg"/>
        </span>
    </p>
</div>
</body>
</html>