<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
</head>
<body>
<form th:action="@{/contacts}" method="get">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" th:value="${q} ?: ''" />
    <input type="submit" value="Search" />
</form>

<ul>
    <li th:each="contact : ${contacts}" style="margin-bottom: 1em; padding: 1em; border: 1px solid #ddd; border-radius: 8px;">
        <div>
            <strong th:text="${contact.first} + ' ' + ${contact.last}">Full Name</strong>
        </div>
        <div>
            <span><strong>Phone:</strong></span>
            <span th:text="${contact.phone}">Phone number</span>
        </div>
        <div>
            <span><strong>Email:</strong></span>
            <span th:text="${contact.email}">Email address</span>
        </div>
    </li>
</ul>
</body>
</html>