<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Contact</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-boost="true">
<h1 th:text="${contact.first + ' ' + contact.last}">First Last</h1>

<div>
    <div>Phone: <span th:text="${contact.phone}">Phone</span></div>
    <div>Email: <span th:text="${contact.email}">Email</span></div>
</div>

<p>
    <a th:href="@{'/contacts/' + ${contact.id} + '/edit'}">Edit</a>
    <a th:href="@{/contacts}">Back</a>
</p>
</body>
</html>